<!DOCKTYPE Public HTML>
html
    head

        title Hover - effect test

        meta( name="viewport" content="width=device-width, initial-scale=1" )

        link( rel="stylesheet" type="text/css" href="style.css" )

        //Plugins
        link( rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" )

    body

        .element

        #content
            .button