html{
 box-shadow:0px 0px 50px rgba(0,0,0,0.5) inset;
}

body{
 margin:0px;
 padding:0px;
 background:#333;
 color:#fff;
 font-size:20px;
 font-family:Arial;
 transition:3s;
 -webkit-transition:3s;
}

.box{
 width:50px;
 height:500px;
 position:fixed;
 border-radius:0px 10px;
}

.bbox{
 width:500px;
 height:50px;
 position:fixed;
 border-radius:0px 10px;
}

#box, #bbox{
 background:#fff;
}

#boxa, #bboxa{
 background:rgba(0,159,255,0.8);
}

#boxb, #bboxb{
 background:rgba(255,0,159,0.8);
}