<!DOCTYPE html PUBLIC>
<html>
<head>

	<title>Components</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="script.js" type="text/javascript"></script>

</head>
<body>

	<div class="area" id="text">
		<input type="text" id="text-input" placeholder="O que deseja?"></input>
		<label for="text-input"></label>
		<div id="go" class="effect-button">Pesquisar</div>
	</div>

	<div id="button-radial" class="effect">
		<svg fill="#FFFFFF" height="70%" viewBox="0 0 24 24" width="70%" xmlns="http://www.w3.org/2000/svg" style="margin: 15%; border-radius: 99px;">
	    	<path d="M0 0h24v24H0V0z" fill="none"/>
	    	<path d="M9.4 16.6L4.8 12l4.6-4.6L8 6l-6 6 6 6 1.4-1.4zm5.2 0l4.6-4.6-4.6-4.6L16 6l6 6-6 6-1.4-1.4z"/>
		</svg>
	</div>

	<div id="social-menu">
		<div class="social-item" id="Facebook"></div>
		<div class="social-item" id="Twitter"></div>
		<div class="social-item" id="YouTube"></div>
	</div>

	<div class="loading" id="layer-1"></div>
	<div class="loading" id="layer-2"></div>

</body>
</html>