html {
  box-shadow:0px 0px 50px rgba( 0, 0, 0, 0.5 ) inset;
}

body {
  margin:0px;
  padding:0px;
  background:#09f09f;
  font-size:20px;
  font-family:verdana;
}

.table{
  height:250px;
  text-align:center;
  position:fixed;
}

.table tr:nth-child(1) td{
  width:30px;
  height:200px;
  vertical-align:bottom;
}

.table tr:nth-child(2) td{
  padding-top:10px;
  border-top:2px solid #fff;
  color:#fff;
  text-shadow:0px 0px 5px #000;
}

.bar{
  width:20px; 
  height:50%;
  background:#fff;
  margin:0px 5px 5px 5px;
  box-shadow:0px 0px 5px rgba( 0, 0, 0, 0.3 ), 0px 0px 10px rgba( 0, 0, 0, 0.1 ) inset;
}

.value{
  display:none;
}