<!DOCKTYPE Public HTML>
html
    head

        title DTeste

        meta( name="viewport" content="width=device-width, initial-scale=1" )

        link( rel="stylesheet" type="text/css" href="style.css" )

        script( type="text/javascript" src="jquery.min.js" )
        script( type="text/javascript" src="script.js" )

        //BOOTSTRAP
        link( rel="stylesheet" href="bootstrap.min.css" )
        link( rel="stylesheet" href="bootstrap-responsive.css" )
        script( type="text/javascript" src="bootstrap.min.js" )

    body

        #header
            #menuItem-hover
            #mainMenu.content
                img#logo( src="images/logo.png" )
                .menuItem( openLink="#" ) Inicio
                .menuItem( openLink="#" ) Servidores
                .menuItem( openLink="#" ) Loja
                .menuItem.right( openLink="#" ) Forum
                .menuItem.right( openLink="#" ) Wiki

            #content
                img#logo( src="images/logo.png" )
                #left.navigator
                #right.navigator

            .header-adornment.square
            .header-adornment.square.layer2

        #fake

        #footer.content
            img( src="images/logo.png" )

            .social
                #facebook.icon( openLink="http://facebook.com/devilsvs" )
                #twitter.icon( openLink="http://twitter.com/Devilsvs" )
                #youtube.icon( openLink="https://www.youtube.com/channel/UCi0oK92_quUQHViZ37m5yHQ" )

            .message
                ="DevilSerers - Especial de natal"
                br
                ="Todos os direitos reservados."